/*WIP*/

html{
	background: #181818;
    color: white;
    font-family: "Roboto", "Arial", sans-serif
}

p,h2,i,span{
	color: white
}

.material-icons{
	color: white;
}

#menu{
	position: relative;
	top: 3px;
}

.logo{
	width: 100px;
	margin:0 10px;
}


header{
	margin-bottom: 30px;
}


.header-container{
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
	width: 100%;
	/*overflow: hidden;*/
}

#start,
#center,
#end{
	display: inline-block;
}

#start{
	/*auto resizes dynamically according to the size of page*/
	width: 25%;
	float: left;
}

#center{
	width: 50%;
	text-align: center;
}

#end{
	width: 25%;
	float: right;
	
}

/*#searchbox{
	display: flex;
	align-items: baseline;
}*/

#searchbar{
	width: 70%;
    /*max-width: 550px;*/
    box-sizing: border-box;
	line-height: 30px;
	font-size: 20px;
}

#serachbtn{
	width: 8%;
	position: relative;
	left: -5px;
	display: inline-block;
	/*width: 70px;*/
	height: 36px;
	margin: 0;
	padding:0;
	background-color: gray;
}

#searchIcon{
	display: inline-block;
	position: relative;
	top: 5px;
}

nav{
	display: inline-block;
	float: right;

	
}

nav i{

	padding-top: 3px;
	padding-right: 12px;
}

/*
#searchbar{
	display: inline-block;
	float: center;
}
*/

section{
	width: 65%;
	margin: 0;
	display: inline-block;
}

#video_container{
	display: inline-block;
	width: 100%;
	/*margin-top: 30px;*/
	margin-bottom: 20px;
	float: left;
}

.name{
	
	color: white;
}

.info-text{
	display: inline-block;
	font-family: "Roboto", "Arial", sans-serif
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 15px;
}


.span-text{
	display: inline-block;
}

.tool-center,.tools{
	display: inline-block;
}

.tool-center{
	width: auto;
	float: right;
}

.tools{
	padding: 10px;
}

.account-icon{
	margin-top: 10px;
	display: inline-block;
	width: 48px;
	height: 48px;

}

.material-icons.md-48 { font-size: 48px; }

.account-name{
	display: inline-block;
	/*vertical-align  */
	vertical-align: 10px;
}

.account-name p{
	padding-left: 10px;
	margin: 0;
	
}

.small-description{
	color: #aaaaaa;
  	font-size: 0.8rem;
}

.subscribe-btn{
	display: inline-block;
	float: right;
	margin: 25px;
	/*margin-right: 60px*/
}

.btn{
	border:none;
	font-size: 0.9rem;
	/*font-family: "Roboto", "Arial", sans-serif*/
	width: 115px;
	height: 36px;
	color: white;
	background-color: red;
}

.description{
	margin-left: 60px;
}

#showmore{
	color: #aaaaaa;
  	font-size: 0.8rem;
  	text-decoration:none;
}

aside{
	/*vertical-align: top;*/
	width: 34%;
	/*display: inline-block;*/
	float: right;
}

.aside-container{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	float: left
	width: 100%;
}



#autoplay{
	display: inline-block;
}

#autoplay p{
	margin: 0;
}


#toggle{
	position: relative;
	top: 10px;
	background-color: #909090;
	border-radius: 10px;
	width: 32px;
    height: 15px;
	display: inline-block;
    
}

#toggle i{
	font-size: 22px;
    position: relative;
    top: -4px;
    left: -2px;
    color: white;
}

.side-img-container{
	display: flex;
	padding-bottom: 15px;
	/*flex-direction: column;*/
}

.side-img{
	display: flex;
}

.side-img-description{
	display: flex;
	flex-direction: column;
}

.side-img-description h3{
	margin: 0;
}

.side-img-description p{
	margin: 0;
}


